<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>jQuery CodeFetch Demo</title>
    <link rel="stylesheet" type="text/css" href="codefetch/static/css/codefetch.css">

    <script type="text/javascript" src="codefetch/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="codefetch/static/js/jquery.codefetch.js"></script>

    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' rel='stylesheet' type='text/css'/>
    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' rel='stylesheet' type='text/css'/>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' type='text/javascript'></script>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js' type='text/javascript'></script>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' type='text/javascript'></script>

  </head>

  <body>
    <h1> jQuery Plug-in jquery.codefetch.js Demo Page</h1>
    <div id="main_content">
      <pre id="explain">
        jquery.codefetch.jsはgithubよりソースコードを動的に取得して、指定したIDの要素に追加するjQueryプラグインです。
        このページはそのデモページで、jquery.codefetch.js自身のソースコードを取得して表示しています。
        以下のようにSyntaxHighlighterを併用してコードを表示することもできます。
      </pre>

      <h3>jquery.codefetch.js</h3>
      <div>
        <pre id="codefetchcode"></pre>
      </div>

    </div>

    <div id="footer">
      <hr>
    </div>

    <script type="text/javascript" charset="utf-8">
      $("#codefetchcode").codefetch("sakitake", "lib", "js/codefetch/jquery.codefetch.js", "javascript");
      SyntaxHighlighter.all();
    </script>

  </body>
</html>
