<html>
  <head>
    <title>CodeFetch Demo</title>
    <link rel="stylesheet" type="text/css" href="codefetch/static/css/codefetch.css">

    <script type="text/javascript" src="codefetch/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="codefetch/static/js/codefetch.js"></script>

    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' rel='stylesheet' type='text/css'/>
    <link href='http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' rel='stylesheet' type='text/css'/>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' type='text/javascript'></script>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js' type='text/javascript'></script>
    <script src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' type='text/javascript'></script>

  </head>

  <body>
    <h3>codefetch.js (jQuery Plug-in)</h3>
    <div>
      <pre id="codefetchcode"></pre>
    </div>

    <h3>codefetch.html (source code of this page)</h3>
    <div>
      <pre id="sourcecode"></pre>
    </div>

    <div id="footer">
      <hr>
    </div>

    <script type="text/javascript" charset="utf-8">
      $("#codefetchcode").codefetch("sakitake", "lib", "js/codefetch/codefetch.js", "javascript");
      $("#sourcecode").codefetch("sakitake", "misc", "www/wsgiapp/flaskapp/codefetch/templates/codefetch.html", "xml");
      SyntaxHighlighter.all();
    </script>

  </body>
</html>
